.post
  .post__create
    = post.created_at.strftime("%Y年%m月%d日")
  .post__content
    - if post.content.present?
      %p.post__content--text
        = post.content
    = image_tag post.image.url, class: 'post__content--image' if post.image.present?
    - if @category.id < 10
      = link_to "編集と削除", edit_user_category_post_path(current_user.id,@category.id,post), class:'post_edit' 