* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-box-shadow: none;
  box-shadow: none;   
  outline: none;
  box-sizing: border-box;
}

.margin-top {
  height: 30px;
}

.content {
  display: flex;
  justify-content: flex-end;
}

.fa-user-edit {
  padding-top: 20px;
  padding-right: 70px;
  float: right;
  text-align: center;
  font-size: 85px;
  transition: .3s;
}

.user-name {
  font-size: 30px;
  margin-top: 10px;
}

#category--6 {
  @include list-content();
  width: 400px;
  height: 400px;
  line-height: 400px;
  font-size: 50px;
  transform: rotate(-20deg);
  margin-left: 30px;
}

#category--6:hover,
#category--7:hover,
#category--8:hover,
#category--9:hover {
  @include content_hover();
}

#category--7 {
  @include list-content();
  width: 320px;
  height: 320px;
  line-height: 320px;
  font-size: 65px;
  transform: rotate(15deg);
  margin: 0px 110px 30px 300px;
}

#category--8 {
  @include list-content();
  width: 280px;
  height: 280px;
  line-height: 280px;
  font-size: 40px;
  transform: rotate(20deg);
  margin: 0px 70px 40px 450px;
}

#category--9 {
  @include list-content();
  width: 200px;
  height: 200px;
  line-height: 200px;
  font-size: 50px;
  transform: rotate(-15deg);
  margin: 30px 0px 80px 100px;
}

.fa-trash {
  position: absolute;
  right: 0px;
  bottom: 30px;
  padding-right: 70px;
}

.fas {
  color: #00BCD4;
  transition: .3s;
}
.fas:hover {
  color: #668ad8;
}


