@mixin list-content() {
  display: inline-block;
  text-decoration: none;
  background: #00BCD4;
  color: #FFF;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #00BCD4;
  border: dashed 2px #FFF;
  transition: .3s;
  cursor: pointer;
  font-weight: bold;
  font-family: Comic Sans MS;
}
